/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/




/* Prerobila som to odznova s pouzitym flexu, bolo to omnoho jednoduchsie :) */


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px 5px black;
    color:white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
    display:none;
}

.paticka a {
    color: silver;
}

h2 {
    margin:0;
    font-weight: 800;
    font-size: 1.3rem;
}

.recept{
    display:flex;
    padding:1rem;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.recept-velky {background-image: url(images/burger.jpg);}
.recept-maly1 {background-image: url(images/sushi.jpg);}
.recept-maly2 {background-image: url(images/rajcata.jpg)}
.recept-maly3 {background-image: url(images/kure.jpg);}
.recept-maly4 {background-image: url(images/grilovani.jpg)}

.recept-velky {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
}

.recept-velky h2 {
    font-size: 1.75rem;
}

.recept-maly1,
.recept-maly2,
.recept-maly3,
.recept-maly4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), white;
    min-height: 90px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: solid 0.1rem;
}

.recept a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.odkazy {
    display: flex;
    justify-content: space-between;
}

/* ----- min-width: 480px -------- */

@media screen and (min-width: 480px) {

    .recept-velky {
        min-height: 250px;
    }

    .recept-velky h2 {
        font-size: 2rem;
    }

    .recept-maly1,
    .recept-maly2,
    .recept-maly3,
    .recept-maly4 {
        min-height: 150px;
        flex-basis: 50%;
    }
    
    .recepty-male {
        display: flex;
        flex-wrap: wrap;
    }
    
    .recept-maly1 {order: 1;}
    .recept-maly2 {order: 3;}
    .recept-maly3 {order: 2;
        border-left: solid 0.1rem;}
    .recept-maly4 {order: 4;
        border-left: solid 0.1rem;}

    .recept {
        padding: 1.25rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

/* ----- min-width: 860px -------- */

@media screen and (min-width: 860px) {

    body {
        display: flex;
        justify-content: center;
    }

   .recept-velky {
        min-height: 400px;
        min-height: 400px;
    }
    .recept-velky h2 {
        font-size: 3rem;
    }

    .recept-maly1,
    .recept-maly2,
    .recept-maly3,
    .recept-maly4 {
        min-height: 200px;
        min-width: 200px;
        flex-basis: 50%;
        border-left: solid 0.1rem;
    }

    h2 {
        font-size: 1.75rem;
    }
}