/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.hlavna-obrazovka{
    max-width: 1200px;
}

.recept_hlavny {background-image: url(images/burger.jpg);}
.maly_recept1 {background-image: url(images/sushi.jpg);}
.maly_recept2 {background-image: url(images/kure.jpg);}
.maly_recept3 {background-image: url(images/rajcata.jpg);}
.maly_recept4 {background-image: url(images/grilovani.jpg);}

.recept_hlavny {
    min-height: 400px;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 0.1rem;
    border: 1px solid white;
}

.maly_recept1,
.maly_recept2,
.maly_recept3,
.maly_recept4{
    min-height: 90px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0.1rem;
    border: 1px solid white;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    color: white;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: white; 
}

.recept_hlavny{
    font-size: 1.75rem;
    padding-right: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    position: relative;
    bottom: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    min-height: 200px;
  
}

.jedlo,
.komentar {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--font-color);
}

.jedlo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    padding-left: 0.5rem);
    padding-bottom:0.5rem;
    color: white;
}

.recept_hlavny{
    font-size:1.75rem;
    padding-right: 1rem;
}

.jedlo {
    position: absolute;
    left: 0;
    padding-left:0.5rem;
    padding-top: 0.5rem;
}

.komentar{
    position: absolute;
    right: 0;
    padding-top: 0.5rem;
    padding-right: 0.5rem;